# dependencies
/node_modules

# misc
.DS_Store

/logs



#commit -m "adding basic prometheus and grafana monitoring" march 12 (thursday)  
/k8s/monitoring/monitoring.yml
/assets/prometheus-grafana-monitoring-dashboard.png
/assets/prometheus-targets-page.png

#commit -m “adding docker-compose file for local testing” on march 13th (friday) 
docker-compose.yml
/assets/microservices-docker-compose-up.png

#Review and correct the README file to reflect the project 
#commit -m “adding screenshots to README”  (march 15, sunday)
/assets/app-api-route-call.png
/assets/app-frontend-loads.png
/assets/google-artifact-registry.png
/assets/ingress.png
/assets/kubernetes-monitoring-health-snapshot.png
/assets/kubernetes-workload-health-snapshot.png


#commit -m “Finalizing README”  (march 16, Monday)