# dependencies
/node_modules

# misc
.DS_Store

/logs


/react-app/.env.production
/microservices
#commit -m "Frontend to microservice" on march 09th (monday)
/k8s/frontend

#commit -m "orders to a microservice" on march 09th (monday)
/k8s/orders

#commit -m "Products to microservice and rewriting using FastAPI" on march 09th (monday)
/k8s/products  
backendconfigs.yml  
ingress.yml
/assets/microservices-deployed-and-running-gke.png


#commit -m “adding docker-compose file for local testing” on march 11 (wednesday) 
docker-compose.yml
/assets/microservices-docker-compose-up.png

#Review and correct the README file to reflect the project 
#commit -m “adding diagrams to README”  (march 14)
#commit -m “Finalizing README”  (march 15)